body{
  background: #eff3f6;
  color: black;
  height: 100%;
  width: 100%;
  font-family: 'Source San Pro', sans-serif;
  line-height: 1.5;
}

.about-section{
  height: 100vh;
  max-height: 100vh;
}

.education-section{
  height: 100vh;
  background-color: yellow;
}

.experience-section{
  height: 100vh;
  background-color: green;
}